
<section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <mat-toolbar color="primary">
          <mat-toolbar-row class="d-flex justify-content-center" style="cursor: pointer">
            <h2 class="mat-h2">Kushki</h2>
          </mat-toolbar-row>
        </mat-toolbar>

      </div>

    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <mat-sidenav-container class="example-container" hasBackdrop="false" >
      <mat-sidenav #sidenav mode="side" class="example-sidenav"
                   [fixedInViewport]="false"
                   opened

      >
        <div>
          <p>sidenav</p>
          <p>sidenav</p>
          <p>sidenav</p>
          <p>sidenav</p>
          <p>sidenav</p>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <button mat-button color="primary" (click)="sidenav.toggle()"> abrir side nav</button>
        <ng-content></ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

